<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title - moja aplikacja platformy ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div  class="navbar navbar-expand-sm bg-dark navbar-dark navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("My i nasze Zwierzaki", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Oferty
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Wszystkie oferty", "Index", "Offers")</li>
                            <li>@Html.ActionLink("Ranking", "Ranking", "Profiles")</li>
                            <li>@Html.ActionLink("Moje oferty", "MyOffers", "Offers")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Zgłoszenia
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Moje zgłoszenia", "MyApplications", "Applications")</li>
                            <li>@Html.ActionLink("Zgłoszenia do moich ofert", "ApplicationsToMyOffers", "Applications")</li>
                            <li>@Html.ActionLink("Historia", "History", "Applications")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Zapisane profile
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Ulubione", "Favourite", "SavedProfiles")</li>
                            <li>@Html.ActionLink("Zablokowane", "Blocked", "SavedProfiles")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Moja aplikacja ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
