@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle text-light" data-toggle="dropdown" href="#" style="background-color:transparent !important">
                    Zgłoszenia
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Moje zgłoszenia", "MyApplications", "Applications")</li>
                    <li>@Html.ActionLink("Zgłoszenia do moich ofert", "ApplicationsToMyOffers", "Applications")</li>
                    <li>@Html.ActionLink("Historia", "History", "Applications")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle text-light" data-toggle="dropdown" href="#" style="background-color:transparent !important">
                    Zapisane profile
                </a>
                <ul class="dropdown-menu text-light">
                    <li>@Html.ActionLink("Ulubione", "Favourite", "SavedProfiles")</li>
                    <li>@Html.ActionLink("Zablokowane", "Blocked", "SavedProfiles")</li>
                </ul>
            </li>
        </ul>
    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown text-light" style="background-color:transparent !important">
                @{ Html.RenderAction("Index", "MyLayout"); }
            </li>
            <li style="background-color:transparent !important">
                @Html.ActionLink("Witaj," + User.Identity.GetUserName() + "!", "Details", "Profiles", routeValues: null, htmlAttributes: new { @class= " text-light", title = "Details", style = "background-color:transparent !important" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class=" text-light" style="background-color:transparent !important">Wyloguj</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="background-color:transparent !important">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { @class = " text-light", id = "registerLink", style = "background-color:transparent !important" })</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { @class = " text-light", id = "loginLink", style = "background-color:transparent !important" })</li>
    </ul>
}


