@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <ul class="dropdown-menu overflow-auto" data-bs-spy="scroll" data-bs-offset="20" style="max-height: 200px; max-width:150px">
            <li>@Html.ActionLink("Ulubione", "Favourite", "SavedProfiles")</li>
            <li>@Html.ActionLink("Zablokowane", "Blocked", "SavedProfiles")</li>
            <li>@Html.ActionLink("Ulubione", "Favourite", "SavedProfiles")</li>
            <li>@Html.ActionLink("Zablokowane", "Blocked", "SavedProfiles")</li>
            <li>@Html.ActionLink("Ulubione", "Favourite", "SavedProfiles")</li>
            <li>@Html.ActionLink("Zablokowane", "Blocked", "SavedProfiles")</li>
            <li>@Html.ActionLink("Ulubione", "Favourite", "SavedProfiles")</li>
            <li>@Html.ActionLink("Zablokowane", "Blocked", "SavedProfiles")</li>
        </ul>
    </li>
    <li>
        @Html.ActionLink("Witaj," + User.Identity.GetUserName() + "!", "Details", "Profiles", routeValues: null, htmlAttributes: new { title = "Details" })
    </li>
    <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
</ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


