@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Zgłoszenia
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Moje zgłoszenia", "MyApplications", "Applications")</li>
                    <li>@Html.ActionLink("Zgłoszenia do moich ofert", "ApplicationsToMyOffers", "Applications")</li>
                    <li>@Html.ActionLink("Historia", "History", "Applications")</li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Zapisane profile
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Ulubione", "Favourite", "SavedProfiles")</li>
                    <li>@Html.ActionLink("Zablokowane", "Blocked", "SavedProfiles")</li>
                </ul>
            </li>
        </ul>
    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                @{ Html.RenderAction("Index", "MyLayout"); }
            </li>
            <li>
                @Html.ActionLink("Witaj," + User.Identity.GetUserName() + "!", "Details", "Profiles", routeValues: null, htmlAttributes: new { title = "Details" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Zarejestruj", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Zaloguj", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}


