@model PROJEKT_PZ_NK_v3.Models.Animal

@{
    ViewBag.Title = "Delete";
}

<h2 style="color:red">Usuwanie</h2>

<h3>Na pewno chcesz usunąć zwierzaka?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Zdjęcie
        </dt>

        <dd>
            <img src="~/ImagesAnimals/@Html.DisplayFor(model => model.Image)" width="300px">
        </dd>

        <dt>
            Nazwa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Gatunek
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Species)
        </dd>

        <dt>
            Rasa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Race)
        </dd>

        <dt>
            Płeć
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            Waga
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            Data urodzenia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            Opis
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Zdecydowanie usuwam!" class="btn btn-danger" />
        </div>
    }
</div>
