@model PROJEKT_PZ_NK_v3.Models.Animal

@{
    ViewBag.Title = "Details";
}

<h2 style="margin: 4%" class="glyphicon glyphicon-search">  Szczegóły zwierzaka</h2>

<div class="container-fluid">
    <hr />
    <div class="row">
        <div class="col-5 list-group-item-heading">

            <img src="~/ImagesAnimals/@Html.DisplayFor(model => model.Image)" width="400px">
        </div>
        <div class="col-6 active">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <dl class="dl-horizontal">
                        <dd>
                            <h2>@Html.DisplayFor(model => model.Name)</h2>

                        </dd>
                    </dl>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            Gatunek
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Species)
                        </dd>

                        <dt>
                            Rasa
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Race)
                        </dd>

                        <dt>
                            Płeć
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Gender)
                        </dd>

                        <dt>
                            Waga
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Weight)
                        </dd>

                        <dt>
                            Data urodzenia
                        </dt>

                        <dd>
                            @Model.DateOfBirth.ToLongDateString()
                        </dd>

                        <dt>
                            Opis
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                        @if (Model.Profiles.Email != User.Identity.Name)
                        {
                            <dt>
                                Właściciel
                            </dt>

                            <dd>
                                @Html.ActionLink(Model.Profiles.Login, "DetailsAnotherProfile", "Profiles", new { id = Model.Profiles.ID }, null)
                            </dd>
                        }
                    </dl>
                </div>
            </div>


        </div>
    </div>
    @if (Model.Profiles.Email == User.Identity.Name)
    {
        <p>
            @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Usuń", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger" })
        </p>
    }

    <hr />

    @if (ViewBag.AnimalOffersCount > 0)
    {
        <h4 class="glyphicon glyphicon-book" style="margin:2%"> Oferty tego zwierzaka </h4>

        <table class="table table-striped">
            <tr>
                <th>
                    Tytuł
                </th>
                <th style="width: 50%">
                    Opis
                </th>
                <th>
                    Data początku
                </th>
                <th>
                    Data Końca
                </th>
                <th></th>
            </tr>

            @foreach (var item in ViewBag.AnimalOffers)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Offers", new { id = item.ID })">
                            @item.Title
                        </a>
                    </td>
                    <td style="width: 45%">
                        @item.Description
                    </td>
                    <td>
                        @item.StartingDate.ToShortDateString() @item.StartingDate.ToShortTimeString()
                    </td>
                    <td>
                        @item.EndDate.ToShortDateString() @item.EndDate.ToShortTimeString()
                    </td>
                    <td>
                        <em>
                            <a href="@Url.Action("Copy","Offers",new { id = item.ID})">
                                Powtórz ofertę
                            </a>
                        </em>
                    </td>
                </tr>
            }
        </table>
    }
</div>
