@model PROJEKT_PZ_NK_v3.Models.Offer

@{
    ViewBag.Title = "Details";
}

<h2>Szczegóły</h2>

<div class="container-fluid">
    <h4>Oferta: @Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <div class="row">
        <div class="col-5 list-group-item-heading">
            <img src="~/ImagesAnimals/@Html.DisplayFor(model => model.Animal.Image)" width="400px">
        </div>
        <div class="col-6 active" style="margin-top:3%">
            <dl class="dl-horizontal">
                <dt>
                    Tytuł
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    Opis
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    Cena
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    Data rozpoczęcia
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StartingDate)
                </dd>

                <dt>
                    Data zakończenia
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EndDate)
                </dd>

                <dt>
                    Właściciel
                </dt>

                <dd>
                    @Html.ActionLink(Model.Profile.Login, "DetailsAnotherProfile", "Profiles",
                   new { id = Model.Profile.ID }, null)
                </dd>

                <dt>
                    Zwierze
                </dt>

                <dd>
                    @Html.ActionLink(Model.Animal.Name, "Details", "Animals", new { id = Model.Animal.ID }, null)
                </dd>
            </dl>
            @if (Model.Profile.Email != User.Identity.Name)
            {
                if (!ViewBag.IsApplied)
                {
                    @Html.ActionLink("Zgłaszam się do oferty", "Create", "Applications", new { offerID = Model.ID, ownerID = Model.Profile.ID }, htmlAttributes: new { @class = "btn btn-success navbar-right" })
                }
                else
                {
                    <em style="color:blue" class = "navbar-right">Wysłano zgłoszenie do oferty</em>
                }
            }
        </div>

    </div>
</div>
<br />
<p>
    @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-default" })
    @if (Model.Profile.Email == User.Identity.Name)
    {
        @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Usuń", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger" })
    }
</p>