@model PROJEKT_PZ_NK_v3.Models.Offer

@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <hr />
    <div class="row">
        <div class="col-5 list-group-item-heading">
            <img src="~/ImagesAnimals/@Html.DisplayFor(model => model.Animal.Image)" width="400px" style="margin-bottom:2%">
            <br />
            <p>
                @Html.ActionLink("Powrót do listy", "Index", null, new { @class = "btn btn-default" })
                @if (Model.Profile.Email == User.Identity.Name)
                {
                    @Html.ActionLink("Edytuj", "Edit", new { offerID = Model.ID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Usuń", "Delete", new { offerID = Model.ID }, new { @class = "btn btn-danger" })
                }
            </p>
        </div>
        <div class="col-6 active" style="margin-top:4%">
            <dl class="dl-horizontal">
                <dt>
                </dt>

                <dd>
                    <h3>@Html.DisplayFor(model => model.Title)</h3>
                </dd>

                <dt>
                    Opis
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    Data rozpoczęcia
                </dt>

                <dd>
                    @Model.StartingDate
                </dd>

                <dt>
                    Data zakończenia
                </dt>

                <dd>
                    @Model.EndDate
                </dd>

                <dt>
                    Właściciel
                </dt>

                <dd>
                    @Html.ActionLink(Model.Profile.Login, "DetailsAnotherProfile", "Profiles",
                   new { email = Model.Profile.Email }, null)
                </dd>

                <dt>
                    Zwierze
                </dt>

                <dd>
                    @Html.ActionLink(Model.Animal.Name, "Details", "Animals", new { email = Model.Profile.Email, name = Model.Animal.Name }, null)
                </dd>
            </dl>
            <br />
            <hr />
            @if (Model.Profile.Email != User.Identity.Name)
            {
                if (!ViewBag.IsApplied)
                {
                    using (Html.BeginForm("Create", "Applications", new { offerID = Model.ID, ownerID = Model.Profile.ID }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <p> Zaproponuj cenę i napisz wiadomość:</p>
                                <textarea name="Message" id="Message" class="form-control w-75"></textarea>
                                <br />
                                <div class="col-md-10">
                                    <input type="submit" value="Zgłaszam się do oferty" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <em style="color:blue" class="navbar-right">Wysłano zgłoszenie do oferty</em>
                }
            }
        </div>
    </div>
    <br />
    <hr />
    @if (Model.Profile.Email == User.Identity.Name && ViewBag.Applications != null)
    {
        <h3 style="margin:4%; margin-top:1%">Zgłoszenia do oferty</h3>
        <table class="table table-striped">
            <tr>
                <th>
                    Oferta
                </th>
                <th>
                    Zwierzak
                </th>
                <th>
                    Opiekun
                </th>
                <th>
                    Wiadomość
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
            @foreach (var item in ViewBag.Applications)
            {
                <tr>
                    <td>
                        <b>@item.Offer.Title</b><br />
                        <ins>Początek</ins>: @item.Offer.StartingDate<br />
                        <ins>Koniec</ins>: @item.Offer.EndDate
                    </td>
                    <td>
                        <b><a href="@Url.Action("Details", "Animals", new { email = item.Offer.Profile.Email ,name = item.Offer.Animal.Name })">@item.Offer.Animal.Name</a></b><br />
                        <ins>Gatunek</ins>: @item.Offer.Animal.Species<br />
                        <ins>Rasa</ins>: @item.Offer.Animal.Race<br />
                        <ins>Waga</ins>: @item.Offer.Animal.Weight
                    </td>
                    <td>
                        <b><a href="@Url.Action("DetailsAnotherProfile", "Profiles", new { id = item.GuardianID })">@item.Guardian.Login</a></b><br />
                        <ins>Imię i nazwisko</ins>: @item.Guardian.FirstName @item.Guardian.LastName<br />
                        <ins>Adres</ins>: @item.Guardian.City, @item.Guardian.Street <br />
                        <ins>tel.</ins>: @item.Guardian.PhoneNumber
                    </td>
                    <td>
                        @item.Message
                    </td>
                    <td>
                        @if (item.Status == "Zaakceptowane!")
                        {
                        <b style="color: limegreen">@item.Status</b>
                        }
                        else if (item.Status == "Opiekun zrezygnował z oferty")
                        {
                            <b style="color: darkred">@item.Status</b>
                        }
                        else if (item.Status.Contains("Usunieta"))
                        {
                            <b style="color: black">Odrzucone</b>
                        }
                        else
                        {
                    <b>@item.Status</b>
                        }
                    </td>
                    <td>
                        @if (item.Status != "Zaakceptowane!" && item.Status != "Opiekun zrezygnował z oferty")
                        {
                            <a href='@Url.Action("EditAccept", "Applications", new { id = item.ID })'>
                                <img src="~/Images/accept.jpg" width="45px" alt="Akceptuj">
                            </a>
                        }
                        <a href='@Url.Action("EditDiscard", "Applications", new { id = item.ID })'>
                            <img src="~/Images/discard.jpg" width="45px" alt="Odrzuć">
                        </a>
                    </td>
                </tr>
            }
        </table>
    }


</div>