@model PROJEKT_PZ_NK_v3.Models.Offer

@{
    ViewBag.Title = "Details";
}
<div style=" margin: 4%; width: 90%; text-align-last: justify;">
    <h2 class="glyphicon glyphicon-search">  Szczegóły oferty</h2>
    <button type="button" class="btn btn-info" id="submitButton" data-toggle="modal" data-target="#myModal">
        Pokaż na mapie 
        <svg width="19" height="19" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
        </svg>
    </button>
</div>


<div class="container-fluid">
    <hr />
    <div class="row">
        <div class="col-5 list-group-item-heading">
            <img src="~/ImagesAnimals/@Html.DisplayFor(model => model.Animal.Image)" class="btn-" width="400px" style="margin-bottom: 2%; border-radius: 4px;">
            <br />
            <p>
                @if (Model.Profile.Email == User.Identity.Name)
                {
                    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Kopiuj", "Copy", new { id = Model.ID }, new { @class = "btn btn-secondary" })
                    @Html.ActionLink("Usuń", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger" })
                }
                else
                {
                    <div class="container">
                        <!-- Trigger the modal with a button -->
                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content" style="width: 200%; margin-left: -40%;">
                                    <div class="modal-header">
                                        <h4 class="modal-title" style="text-align: left">Lokalizacja zwierzaka na mapie</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1BOzf3325XV08x9aMj_kELckTcgL3xrQ&callback=initMap&v=weekly&channel=2" async></script>
                                        <script>
                                            function initMap() {
                                                map = new google.maps.Map(document.getElementById("map"), {
                                                    zoom: 15,
                                                    center: { lat: 52.10, lng: 19.5 },
                                                    mapTypeControl: false,
                                                });
                                                geocoder = new google.maps.Geocoder();

                                                document.getElementById("submitButton").addEventListener("click", () =>
                                                    geocode({ address: "@Model.Profile.City @Model.Profile.Street @Model.Profile.HouseNumber" })
                                                );
                                            }

                                            function geocode(request) {
                                                geocoder
                                                    .geocode(request)
                                                    .then((result) => {
                                                        const { results } = result;
                                                        map.setCenter(results[0].geometry.location);

                                                        new google.maps.Circle({
                                                            strokeColor: "blue",
                                                            strokeOpacity: 0.8,
                                                            strokeWeight: 2,
                                                            fillColor: "blue",
                                                            fillOpacity: 0.35,
                                                            map,
                                                            center: results[0].geometry.location,
                                                            radius: 300,
                                                        });

                                                        return results;
                                                    })
                                                    .catch((e) => {
                                                        alert("Geocode was not successful for the following reason: ");
                                                    });
                                            }
                                        </script>
                                        <div>
                                            <div id="map" style="width: 100%; height: 480px;"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                }
            </p>
        </div>

        <div class="col-7 active">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <dl class="dl-horizontal">
                        <dd>

                            <h3 class="panel-title">@Html.DisplayFor(model => model.Title)</h3>

                        </dd>
                    </dl>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            Zwierze
                        </dt>

                        <dd>
                            @Html.ActionLink(Model.Animal.Name, "Details", "Animals", new { id = Model.Animal.ID }, null)
                        </dd>

                        <dt>
                            Właściciel
                        </dt>

                        <dd>
                            @Html.ActionLink(Model.Profile.Login, "DetailsAnotherProfile", "Profiles",
                           new { id = Model.Profile.ID }, null)
                        </dd>

                        <dt>
                            Data rozpoczęcia
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.StartingDate)
                        </dd>

                        <dt>
                            Data zakończenia
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EndDate)
                        </dd>

                        <dt>
                            Opis
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    </dl>
                </div>
            </div>
            <br />

        </div>
    </div>
    @if (Model.Profile.Email != User.Identity.Name)
    {
        if (!ViewBag.IsApplied)
        {
            using (Html.BeginForm("Create", "Applications", new { offerID = Model.ID, ownerID = Model.Profile.ID }))
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group" style="display: inline; text-align: -webkit-center;">
                        <p> Zaproponuj cenę i napisz wiadomość:</p>
                        <div class="ofert__form" style=" display: flex; align-items: baseline; justify-content: center;">
                            <textarea name="Message" id="Message" class="form-control w-75" style="height: 36px;"></textarea>
                            <br>
                            <div>
                                <input type="submit" value="Zgłaszam się do oferty" class="btn btn-success">
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <em style="color:blue" class="navbar-right">Wysłano zgłoszenie do oferty</em>
        }
    }

    @if (ViewBag.ApplicationsCount != 0)
    {
        <hr />
        <h4 style="margin:4%; margin-top:2%" class="glyphicon glyphicon-envelope">  Zgłoszenia do oferty</h4>
        <table class="table table-striped">
            <tr>
                <th>
                    Oferta
                </th>
                <th>
                    Zwierzak
                </th>
                <th>
                    @if (Model.Profile.Email == User.Identity.Name)
                    {
                        <p>Opiekun</p>
                    }
                    else
                    {
                        <p>Właściciel</p>
                    }
                </th>
                <th style="width: 25%">
                    Wiadomość
                </th>
                <th style="width: 10%">
                    Status
                </th>
                <th></th>
            </tr>
            @foreach (var item in ViewBag.Applications)
            {
                <tr>
                    <td>
                        <b>@item.Offer.Title</b><br />
                        <ins>Początek</ins>: @item.Offer.StartingDate<br />
                        <ins>Koniec</ins>: @item.Offer.EndDate
                    </td>
                    <td>
                        <b><a href="@Url.Action("Details", "Animals", new { id = item.Offer.AnimalID })">@item.Offer.Animal.Name</a></b><br />
                        <ins>Gatunek</ins>: @item.Offer.Animal.Species<br />
                        <ins>Rasa</ins>: @item.Offer.Animal.Race<br />
                        <ins>Waga</ins>: @item.Offer.Animal.Weight
                    </td>
                    @if (Model.Profile.Email == User.Identity.Name)
                    {
                        <td>
                            <b><a href="@Url.Action("DetailsAnotherProfile", "Profiles", new { id = item.GuardianID })">@item.Guardian.Login</a></b><br />
                            <ins>Imię i nazwisko</ins>: @item.Guardian.FirstName @item.Guardian.LastName<br />
                            <ins>Adres</ins>: @item.Guardian.City, @item.Guardian.Street <br />
                            <ins>tel.</ins>: @item.Guardian.PhoneNumber
                        </td>
                    }
                    else
                    {
                        <td>
                            <b><a href="@Url.Action("DetailsAnotherProfile", "Profiles", new { id = item.OwnerID })">@item.Owner.Login</a></b><br />
                            <ins>Imię i nazwisko</ins>: @item.Owner.FirstName @item.Owner.LastName<br />
                            <ins>Adres</ins>: @item.Owner.City, @item.Owner.Street <br />
                            <ins>tel.</ins>: @item.Owner.PhoneNumber
                        </td>
                    }

                    <td>
                        @item.Message
                    </td>
                    <td>
                        @if (item.StatusGuardian == "Zaakceptowane!")
                        {
                            <b style="color: limegreen">@item.StatusGuardian</b>
                        }
                        else if (item.StatusOwner == "Opiekun zrezygnował z oferty")
                        {
                            <b style="color: darkred">@item.StatusOwner</b>
                        }
                        else
                        {
                            <b>@item.StatusOwner</b>
                        }
                    </td>
                    <td>
                        @if (Model.Profile.Email == User.Identity.Name)
                        {
                            if (item.StatusGuardian != "Zaakceptowane!" &&
                                (item.StatusGuardian != "Opiekun zrezygnował z oferty" || item.StatusOwner != "Opiekun zrezygnował z oferty"))
                            {
                                <a href='@Url.Action("EditAccept", "Applications", new { id = item.ID })'>
                                    <img src="~/Images/accept.jpg" width="45px" title="Akceptuj">
                                </a>
                            }
                            <a href='@Url.Action("EditDiscard", "Applications", new { id = item.ID })'>
                                <img src="~/Images/discard.jpg" width="45px" title="Odrzuć">
                            </a>
                        }
                        else
                        {
                            <a href='@Url.Action("EditResign", "Applications", new { id = item.ID })'>
                                <img src="~/Images/resign.png" width="45px" title="Rezygnuj">
                            </a>
                        }

                    </td>
                </tr>
            }
        </table>
    }

    @if (Model.Profile.Email != User.Identity.Name && ViewBag.AnotherOffersCount != 0)
    {
        <hr />
        <h4 class="glyphicon glyphicon-bell" style="margin:2%">  Sprawdź również te oferty! </h4>
        <div class="container row">
            @foreach (var item in ViewBag.AnotherOffers)
            {
                <div class="card col-2 list-group-item-heading" style="padding:1%">
                    <a href="@Url.Action("Details", "Offers", new { id = item.ID })">
                        <img class="card-img-top center-block block d-block mx-auto"
                             style="max-height: 130px; object-fit: cover;"
                             src="~/ImagesAnimals/@item.Animal.Image" alt="Card image"
                             title="Pokaż więcej informacji">
                    </a>
                    <div class="card-body">
                        <a href="@Url.Action("Details", "Offers", new { id = item.ID })">
                            <h5 class="card-title">@item.Title</h5>
                        </a>
                    </div>
                </div>
            }
        </div>
    }


</div>
