@model PROJEKT_PZ_NK_v3.Models.Offer

@{
    ViewBag.Title = "Details";
}

<h2 style="margin: 4%" class="glyphicon glyphicon-search">  Szczegóły oferty</h2>

<div class="container-fluid">
    <hr />
    <div class="row">
        <div class="col-5 list-group-item-heading">
            <img src="~/ImagesAnimals/@Html.DisplayFor(model => model.Animal.Image)" width="400px" style="margin-bottom:2%">
            <br />
            <p>
                @if (Model.Profile.Email == User.Identity.Name)
                {
                    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Usuń", "Delete", new { id = Model.ID }, new { @class = "btn btn-danger" })
                }
            </p>
        </div>

        <div class="col-6 active">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <dl class="dl-horizontal">
                        <dd>

                            <h3 class="panel-title">@Html.DisplayFor(model => model.Title)</h3>

                        </dd>
                    </dl>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>
                            Zwierze
                        </dt>

                        <dd>
                            @Html.ActionLink(Model.Animal.Name, "Details", "Animals", new { id = Model.Animal.ID }, null)
                        </dd>

                        <dt>
                            Właściciel
                        </dt>

                        <dd>
                            @Html.ActionLink(Model.Profile.Login, "DetailsAnotherProfile", "Profiles",
                           new { id = Model.Profile.ID }, null)
                        </dd>

                        <dt>
                            Data rozpoczęcia
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.StartingDate)
                        </dd>

                        <dt>
                            Data zakończenia
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.EndDate)
                        </dd>

                        <dt>
                            Opis
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    </dl>
                </div>
            </div>
            <br />
            @if (Model.Profile.Email != User.Identity.Name)
            {
                <hr />
                if (!ViewBag.IsApplied)
                {
                    using (Html.BeginForm("Create", "Applications", new { offerID = Model.ID, ownerID = Model.Profile.ID }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                <p> Zaproponuj cenę i napisz wiadomość:</p>
                                <textarea name="Message" id="Message" class="form-control w-75"></textarea>
                                <br />
                                <div class="col-md-10">
                                    <input type="submit" value="Zgłaszam się do oferty" class="btn btn-success" />
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <em style="color:blue" class="navbar-right">Wysłano zgłoszenie do oferty</em>
                }
            }
        </div>
    </div>
    @if (ViewBag.ApplicationsCount != 0)
    {
        <hr />
        <h4 style="margin:4%; margin-top:2%" class="glyphicon glyphicon-envelope">  Zgłoszenia do oferty</h4>
        <table class="table table-striped">
            <tr>
                <th>
                    Oferta
                </th>
                <th>
                    Zwierzak
                </th>
                <th>
                    @if (Model.Profile.Email == User.Identity.Name)
                    {
                        <p>Opiekun</p>
                    }
                    else
                    {
                        <p>Właściciel</p>
                    }
                </th>
                <th style="width: 25%">
                    Wiadomość
                </th>
                <th style="width: 10%">
                    Status
                </th>
                <th></th>
            </tr>
            @foreach (var item in ViewBag.Applications)
            {
                <tr>
                    <td>
                        <b>@item.Offer.Title</b><br />
                        <ins>Początek</ins>: @item.Offer.StartingDate<br />
                        <ins>Koniec</ins>: @item.Offer.EndDate
                    </td>
                    <td>
                        <b><a href="@Url.Action("Details", "Animals", new { id = item.Offer.AnimalID })">@item.Offer.Animal.Name</a></b><br />
                        <ins>Gatunek</ins>: @item.Offer.Animal.Species<br />
                        <ins>Rasa</ins>: @item.Offer.Animal.Race<br />
                        <ins>Waga</ins>: @item.Offer.Animal.Weight
                    </td>
                    @if (Model.Profile.Email == User.Identity.Name)
                    {
                        <td>
                            <b><a href="@Url.Action("DetailsAnotherProfile", "Profiles", new { id = item.GuardianID })">@item.Guardian.Login</a></b><br />
                            <ins>Imię i nazwisko</ins>: @item.Guardian.FirstName @item.Guardian.LastName<br />
                            <ins>Adres</ins>: @item.Guardian.City, @item.Guardian.Street <br />
                            <ins>tel.</ins>: @item.Guardian.PhoneNumber
                        </td>
                    }
                    else
                    {
                        <td>
                            <b><a href="@Url.Action("DetailsAnotherProfile", "Profiles", new { id = item.OwnerID })">@item.Owner.Login</a></b><br />
                            <ins>Imię i nazwisko</ins>: @item.Owner.FirstName @item.Owner.LastName<br />
                            <ins>Adres</ins>: @item.Owner.City, @item.Owner.Street <br />
                            <ins>tel.</ins>: @item.Owner.PhoneNumber
                        </td>
                    }

                    <td>
                        @item.Message
                    </td>
                    <td>
                        @if (item.StatusGuardian == "Zaakceptowane!")
                        {
                            <b style="color: limegreen">@item.StatusGuardian</b>
                        }
                        else if (item.StatusOwner == "Opiekun zrezygnował z oferty")
                        {
                            <b style="color: darkred">@item.StatusOwner</b>
                        }
                        else
                        {
                            <b>@item.StatusOwner</b>
                        }
                    </td>
                    <td>
                        @if (Model.Profile.Email == User.Identity.Name)
                        {
                            if (item.StatusGuardian != "Zaakceptowane!" &&
                                (item.StatusGuardian != "Opiekun zrezygnował z oferty" || item.StatusOwner != "Opiekun zrezygnował z oferty"))
                            {
                                <a href='@Url.Action("EditAccept", "Applications", new { id = item.ID })'>
                                    <img src="~/Images/accept.jpg" width="45px" title="Akceptuj">
                                </a>
                            }
                            <a href='@Url.Action("EditDiscard", "Applications", new { id = item.ID })'>
                                <img src="~/Images/discard.jpg" width="45px" title="Odrzuć">
                            </a>
                        }
                        else
                        {
                            <a href='@Url.Action("EditResign", "Applications", new { id = item.ID })'>
                                <img src="~/Images/resign.png" width="45px" title="Rezygnuj">
                            </a>
                        }

                    </td>
                </tr>
            }
        </table>
    }
    @if (Model.Profile.Email != User.Identity.Name && ViewBag.AnotherOffersCount != 0)
    {
        <h4 class="glyphicon glyphicon-bell" style="margin:2%">  Sprawdź również te oferty! </h4>
        <div class="container row">
            @foreach (var item in ViewBag.AnotherOffers)
            {
                <div class="card col-2 list-group-item-heading" style="padding:1%">
                    <a href="@Url.Action("Details", "Offers", new { id = item.ID })">
                        <img class="card-img-top center-block block d-block mx-auto"
                             style="max-height: 130px; object-fit: cover;"
                             src="~/ImagesAnimals/@item.Animal.Image" alt="Card image"
                             title="Pokaż więcej informacji">
                    </a>
                    <div class="card-body">
                        <a href="@Url.Action("Details", "Offers", new { id = item.ID })">
                            <h5 class="card-title">@item.Title</h5>
                        </a>
                    </div>
                </div>
            }
        </div>
    }


</div>
