@model PagedList.IPagedList<PROJEKT_PZ_NK_v3.Models.Offer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/Site.css")

<div class="well">

    <div class="row" style="margin-top:4%">
        <div class="col-11">
            @using (Html.BeginForm("Index", "Offers", FormMethod.Get))
            {
                <div class="form-group row">
                    <div class="col-xs-3">
                        <label for="ex1">Tytuł:</label>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilterSt as string, new { placeholder = "Tytuł", style = "height:32px", @id = "ex1", @class = "form-control" })
                    </div>
                    <div class="col-xs-3">
                        <label for="ex4">Właściciel:</label>
                        @Html.TextBox("SearchOwner", ViewBag.CurrentFilterO as string, new { placeholder = "Właściciel", style = "height:32px", @id = "ex4", @class = "form-control" })
                    </div>
                    <div class="col-xs-3">
                        <label for="ex6">Czas opieki (w dniach):</label>
                        @Html.TextBox("SearchTime", ViewBag.CurrentFilterT as string, new { value = -1, style = "height:32px", @id = "ex6", @class = "form-control", type = "number" })
                    </div>
                    <div class="col-xs-1">
                        <input type="submit" class="btn btn-primary" value="Szukaj" style="margin-top: 45%; height: 32px" />
                    </div>
                    <div class="col-xs-1">
                        @Html.ActionLink("Wyczyść", "Index", "Offers", new { sortOrder = "", searchString = "", searchSpecies = "", searchRace = "", searchOwner = "", searchAnimal = "" }, new { @class = "btn btn-warning", style = "margin-top: 45%; height: 32px" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-3">
                        <label for="ex5">Imię zwierzaka:</label>
                        @Html.TextBox("SearchAnimal", ViewBag.CurrentFilterA as string, new { placeholder = "Zwierzak", style = "height:32px", @id = "ex5", @class = "form-control" })
                    </div>
                    <div class="col-xs-3">
                        <label for="ex2">Rasa:</label>
                        @Html.TextBox("SearchRace", ViewBag.CurrentFilterR as string, new { placeholder = "Rasa", style = "height:32px", @id = "ex2", @class = "form-control" })
                    </div>
                    <div class="col-xs-3">
                        <label for="ex3">Gatunek:</label>
                        @Html.TextBox("SearchSpecies", ViewBag.CurrentFilterS as string, new { placeholder = "Gatunek", style = "height:32px", @id = "ex3", @class = "form-control" })
                    </div>

                </div>
            }
        </div>
        <div class="col-2">
            <div class="dropdown">

                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="margin-top: 16%; height: 32px">
                    Sortuj po..
                </button>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("tytuł rosnąco", "Index", "Offers",
                   new
                            {
                       sortOrder = ViewBag.TitleSortParmAsc,
                       searchString = ViewBag.CurrentFilterSt,
                       searchSpecies = ViewBag.CurrentFilterS,
                       searchRace = ViewBag.CurrentFilterR,
                       searchOwner = ViewBag.CurrentFilterO,
                       searchAnimal = ViewBag.CurrentFilterA,
                       searchTime = ViewBag.CurrentFilterT
                   }, null)
                    </li>
                    <li>
                        @Html.ActionLink("tytuł malejąco", "Index", "Offers",
                   new
                            {
                       sortOrder = ViewBag.TitleSortParmDesc,
                       searchString = ViewBag.CurrentFilterSt,
                       searchSpecies = ViewBag.CurrentFilterS,
                       searchRace = ViewBag.CurrentFilterR,
                       searchOwner = ViewBag.CurrentFilterO,
                       searchAnimal = ViewBag.CurrentFilterA,
                       searchTime = ViewBag.CurrentFilterT
                   }, null)
                    </li>
                    <li>
                        @Html.ActionLink("data rosnąco", "Index", "Offers",
                   new
                            {
                       sortOrder = ViewBag.DateSortParmAsc,
                       searchString = ViewBag.CurrentFilterSt,
                       searchSpecies = ViewBag.CurrentFilterS,
                       searchRace = ViewBag.CurrentFilterR,
                       searchOwner = ViewBag.CurrentFilterO,
                       searchAnimal = ViewBag.CurrentFilterA,
                       searchTime = ViewBag.CurrentFilterT
                   }, null)
                    </li>
                    <li>
                        @Html.ActionLink("data malejąco", "Index", "Offers",
                   new
                            {
                       sortOrder = ViewBag.DateSortParmDesc,
                       searchString = ViewBag.CurrentFilterSt,
                       searchSpecies = ViewBag.CurrentFilterS,
                       searchRace = ViewBag.CurrentFilterR,
                       searchOwner = ViewBag.CurrentFilterO,
                       searchAnimal = ViewBag.CurrentFilterA,
                       searchTime = ViewBag.CurrentFilterT
                   }, null)
                    </li>
                    <li>
                        @Html.ActionLink("odległość rosnąco", "Index", "Offers",
                   new
                            {
                       sortOrder = ViewBag.DistanceSortParmAsc,
                       searchString = ViewBag.CurrentFilterSt,
                       searchSpecies = ViewBag.CurrentFilterS,
                       searchRace = ViewBag.CurrentFilterR,
                       searchOwner = ViewBag.CurrentFilterO,
                       searchAnimal = ViewBag.CurrentFilterA,
                       searchTime = ViewBag.CurrentFilterT
                   }, null)
                    </li>
                    <li>
                        @Html.ActionLink("odległość malejąco", "Index", "Offers",
                   new
                            {
                       sortOrder = ViewBag.DistanceSortParmDesc,
                       searchString = ViewBag.CurrentFilterSt,
                       searchSpecies = ViewBag.CurrentFilterS,
                       searchRace = ViewBag.CurrentFilterR,
                       searchOwner = ViewBag.CurrentFilterO,
                       searchAnimal = ViewBag.CurrentFilterA,
                       searchTime = ViewBag.CurrentFilterT
                   }, null)
                    </li>
                    <li>
                        @Html.ActionLink("czas trwania rosnąco", "Index", "Offers",
                                    new
                            {
                       sortOrder = ViewBag.TimeSortParmAsc,
                       searchString = ViewBag.CurrentFilterSt,
                       searchSpecies = ViewBag.CurrentFilterS,
                       searchRace = ViewBag.CurrentFilterR,
                       searchOwner = ViewBag.CurrentFilterO,
                       searchAnimal = ViewBag.CurrentFilterA,
                       searchTime = ViewBag.CurrentFilterT
                   }, null)
                    </li>
                    <li>
                        @Html.ActionLink("czas trwania malejąco", "Index", "Offers",
                    new
                            {
                       sortOrder = ViewBag.TimeSortParmDesc,
                       searchString = ViewBag.CurrentFilterSt,
                       searchSpecies = ViewBag.CurrentFilterS,
                       searchRace = ViewBag.CurrentFilterR,
                       searchOwner = ViewBag.CurrentFilterO,
                       searchAnimal = ViewBag.CurrentFilterA,
                       searchTime = ViewBag.CurrentFilterT
                    }, null)
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<br />


<div class="container row">
    @foreach (var item in Model)
    {

        <div class="card col-4 list-group-item-heading" style="padding:1%">
            <a href="@Url.Action("Details", "Offers", new { id = item.ID })">
                <img class="card-img-top center-block block d-block mx-auto"
                     style="max-height: 260px; object-fit: cover;"
                     src="~/ImagesAnimals/@item.Animal.Image"
                     alt="Card image" title="Pokaż więcej informacji">
            </a>
            <div class="card-body">
                <h4 class="card-title">@item.Title</h4>
                <p class="card-text">@item.StartingDate.ToString("yyyy-MM-dd HH:mm")- @item.EndDate.ToString("yyyy-MM-dd HH:mm")</p>
                <p class="card-text">
                    Zwierze: @Html.ActionLink(item.Animal.Name,
"Details", "Animals", new { id = item.Animal.ID }, null)
                </p>
                <p class="card-text">
                    Właściciel: @Html.ActionLink(item.Profile.Login,
"DetailsAnotherProfile", "Profiles", new { id = item.Profile.ID }, null)
                </p>
                <p class="text-right btn-block">@Html.ActionLink("Więcej informacji", "Details", "Offers", new { id = item.ID }, null) </p>
            </div>
        </div>
    }
</div>

<br />
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))



