@model PagedList.IPagedList<PROJEKT_PZ_NK_v3.Models.Offer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}
@Styles.Render("~/Content/Site.css")

<div class="well">

    <div class="row" style="margin-top:4%">
        <div class="col-11">
            @using (Html.BeginForm("Index", "Offers", FormMethod.Get))
            {
                <div class="form-group row">
                    <div class="col-xs-3">
                        <label for="ex1">Tytuł oferty:</label>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilterT as string, new { placeholder = "Tytuł", style = "height:32px", @id = "ex1", @class = "form-control" })
                    </div>
                    <div class="col-xs-3">
                        <label for="ex2">Rasa zwierzaka:</label>
                        @Html.TextBox("SearchRace", ViewBag.CurrentFilterR as string, new { placeholder = "Rasa", style = "height:32px", @id = "ex2", @class = "form-control" })
                    </div>
                    <div class="col-xs-3">
                        <label for="ex3">Gatunek zwierzaka:</label>
                        @Html.TextBox("SearchSpecies", ViewBag.CurrentFilterS as string, new { placeholder = "Gatunek", style = "height:32px", @id = "ex3", @class = "form-control" })
                    </div>
                    <div class="col-xs-1">
                        <input type="submit" class="btn btn-primary" value="Szukaj" style="margin-top: 45%; height: 32px" />
                    </div>
                    <div class="col-xs-1">
                        @Html.ActionLink("Wyczyść", "Index", "Offers", new { sortOrder = "", searchString = "", searchSpecies = "", searchRace = "" }, new { @class = "btn btn-warning", style = "margin-top: 45%; height: 32px" })
                    </div>
                </div>
            }
        </div>
        <div class="col-2">
            <div class="dropdown">

                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="margin-top: 16%; height: 32px">
                    Sortuj po..
                </button>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("tytuł rosnąco", "Index", "Offers", new { sortOrder = ViewBag.TitleSortParmAsc, searchString = ViewBag.CurrentFilterT, searchSpecies = ViewBag.CurrentFilterS, searchRace = ViewBag.CurrentFilterR }, null)</li>
                    <li>@Html.ActionLink("tytuł malejąco", "Index", "Offers", new { sortOrder = ViewBag.TitleSortParmDesc, searchString = ViewBag.CurrentFilterT, searchSpecies = ViewBag.CurrentFilterS, searchRace = ViewBag.CurrentFilterR }, null)</li>
                    <li>@Html.ActionLink("data rosnąco", "Index", "Offers", new { sortOrder = ViewBag.DateSortParmAsc, searchString = ViewBag.CurrentFilterT, searchSpecies = ViewBag.CurrentFilterS, searchRace = ViewBag.CurrentFilterR }, null)</li>
                    <li>@Html.ActionLink("data malejąco", "Index", "Offers", new { sortOrder = ViewBag.DateSortParmDesc, searchString = ViewBag.CurrentFilterT, searchSpecies = ViewBag.CurrentFilterS, searchRace = ViewBag.CurrentFilterR }, null)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<br />


<div class="container row">
    @foreach (var item in Model)
    {

        <div class="card col-4 list-group-item-heading" style="padding:1%">
            <a href="@Url.Action("Details", "Offers", new { offerID = item.ID })">
                <img class="card-img-top center-block block d-block mx-auto"
                     style="max-height: 300px; object-fit: cover;"
                     src="~/ImagesAnimals/@item.Animal.Image"
                     alt="Card image">
            </a>
            <div class="card-body">
                <h4 class="card-title">@item.Title</h4>
                <p class="card-text">@item.StartingDate- @item.EndDate</p>
                <p class="card-text">
                    Zwierze: @Html.ActionLink(item.Animal.Name,
"Details", "Animals", new { email = item.Profile.Email, name = item.AnimalName }, null)
                </p>
                <p class="card-text">
                    Właściciel: @Html.ActionLink(item.Profile.Login,
      "DetailsAnotherProfile", "Profiles", new { email = item.Profile.Email }, null)
                </p>
                <p class="text-right btn-block">@Html.ActionLink("Więcej informacji", "Details", "Offers", new { id = item.ID }, null) </p>
            </div>
        </div>
    }
</div>

<br />
    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))



