@model IEnumerable<PROJEKT_PZ_NK_v3.Models.Offer>

@{
    ViewBag.Title = "MyOffers";
}

<h2>Moje oferty</h2>

<div class="container row">
    @foreach (var item in Model)
    {

        <div class="card col-3 list-group-item-heading" style="padding:1%">
            <a href="@Url.Action("Details", "Offers", new { offerID = item.ID })">
                <img class="card-img-top center-block block d-block mx-auto"
                     style="max-height: 200px; object-fit: cover;"
                     src="~/ImagesAnimals/@item.Animal.Image"
                     alt="Card image">
            </a>
            <div class="card-body">
                <h4 class="card-title">@item.Title</h4>
                <p class="card-text">@DateTime.Parse(item.StartingDate).ToString("yyyy-MM-dd HH:mm")- @DateTime.Parse(item.EndDate).ToString("yyyy-MM-dd HH:mm")</p>
                <p class="card-text">
                    Zwierze: @Html.ActionLink(item.Animal.Name, "Details", "Animals", new { email = item.Profile.Email, name = item.Animal.Name }, null)
                </p>
                <p class="card-text">
                    Właściciel: @Html.ActionLink(item.Profile.Login, "DetailsAnotherProfile", "Profiles", new { email = item.Profile.Email }, null)
                </p>
                <p class="text-right btn-block">@Html.ActionLink("Więcej informacji", "Details", "Offers", new { offerID = item.ID }, null) </p>
            </div>
        </div>
    }
</div>

