@model IEnumerable<PROJEKT_PZ_NK_v3.Models.Applications>

@{
    ViewBag.Title = "ApplicationsToMyOffers";
}

<div class="container">
    <h2 style="margin:4%">Zgłoszenia do moich ofert</h2>

    <table class="table table-striped">
        <tr>
            <th>
                Oferta
            </th>
            <th>
                Zwierzak
            </th>
            <th>
                Opiekun
            </th>
            <th>
                Wiadomość
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            <b>@Html.ActionLink(item.Offer.Title, "Details", "Offers", new { id = item.Offer.ID }, null)</b><br />
            <ins>Początek</ins>: @Html.DisplayFor(modelItem => item.Offer.StartingDate)<br />
            <ins>Koniec</ins>: @Html.DisplayFor(modelItem => item.Offer.EndDate)
        </td>
        <td>
            @Html.ActionLink(item.Offer.Animal.Name, "Details", "Animals", new { id = item.Offer.AnimalID }, null)<br />
            <ins>Gatunek</ins>: @Html.DisplayFor(modelItem => item.Offer.Animal.Species)<br />
            <ins>Rasa</ins>: @Html.DisplayFor(modelItem => item.Offer.Animal.Race)<br />
            <ins>Waga</ins>: @Html.DisplayFor(modelItem => item.Offer.Animal.Weight)
        </td>
        <td>
            <b>@Html.ActionLink(item.Owner.Login, "DetailsAnotherProfile", "Profiles", new { id = item.OwnerID }, null)</b><br />
            <ins>Imię i nazwisko</ins>: @Html.DisplayFor(modelItem => item.Owner.FirstName) @Html.DisplayFor(modelItem => item.Owner.LastName)<br />
            <ins>Adres</ins>: @Html.DisplayFor(modelItem => item.Owner.City), @Html.DisplayFor(modelItem => item.Owner.Street) <br />
            <ins>tel.</ins>: @Html.DisplayFor(modelItem => item.Owner.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @if (item.Status == "Zaakceptowane!")
            {
                <b style="color: limegreen">@Html.DisplayFor(modelItem => item.Status)</b>
            }
            else
            {
                <b>@Html.DisplayFor(modelItem => item.Status)</b>
            }
        </td>
        <td>
            @if (item.Status != "Zaakceptowane!" && item.Status != "Opiekun zrezygnował z oferty")
            {
                <a href='@Url.Action("EditAccept", new { id = item.ID })'>
                    <img src="~/Images/accept.jpg" width="45px" alt="Akceptuj">
                </a>
            }
            <a href='@Url.Action("EditDiscard", new { id = item.ID })'>
                <img src="~/Images/discard.jpg" width="45px" alt="Odrzuć">
            </a>
        </td>
    </tr>
        }

    </table>
</div>
