@model IEnumerable<PROJEKT_PZ_NK_v3.Models.Applications>

@{
    ViewBag.Title = "ApplicationsToMyOffers";
}

<div class="container">
    <h2 style="margin:4%" class="glyphicon glyphicon-envelope">  Zgłoszenia do moich ofert</h2>

    <table class="table table-striped">
        <tr>
            <th>
                Oferta
            </th>
            <th>
                Opiekun
            </th>
            <th>
                Zwierzak
            </th>
            <th>
                Wiadomość
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@Html.ActionLink(item.Offer.Title, "Details", "Offers", new { id = item.Offer.ID }, null)</b><br />
                    <ins>Początek</ins>: @Html.DisplayFor(modelItem => item.Offer.StartingDate)<br />
                    <ins>Koniec</ins>: @Html.DisplayFor(modelItem => item.Offer.EndDate)
                </td>
                <td>
                    <b>@Html.ActionLink(item.Guardian.Login, "DetailsAnotherProfile", "Profiles", new { id = item.OwnerID }, null)</b><br />
                    <ins>Imię i nazwisko</ins>: @Html.DisplayFor(modelItem => item.Guardian.FirstName) @Html.DisplayFor(modelItem => item.Guardian.LastName)<br />
                    <ins>Adres</ins>: @Html.DisplayFor(modelItem => item.Guardian.City), @Html.DisplayFor(modelItem => item.Guardian.Street) <br />
                    <ins>tel.</ins>: @Html.DisplayFor(modelItem => item.Guardian.PhoneNumber)
                </td>
                <td>
                    @Html.ActionLink(item.Offer.Animal.Name, "Details", "Animals", new { id = item.Offer.AnimalID }, null)<br />
                    <ins>Gatunek</ins>: @Html.DisplayFor(modelItem => item.Offer.Animal.Species)<br />
                    <ins>Rasa</ins>: @Html.DisplayFor(modelItem => item.Offer.Animal.Race)<br />
                    <ins>Waga</ins>: @Html.DisplayFor(modelItem => item.Offer.Animal.Weight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @if (item.StatusGuardian == "Zaakceptowane!")
                    {
                        <b style="color: limegreen">@Html.DisplayFor(modelItem => item.StatusGuardian)</b>
                    }
                    else if (item.StatusGuardian == "Odrzucone" || item.StatusGuardian == "Usuniete")
                    {
                        <b style="color: darkred">Opiekun odrzucił ofertę</b>
                    }
                    else if (item.StatusOwner != "Usuniete")
                    {
                        <b>@Html.DisplayFor(modelItem => item.StatusOwner)</b>
                    }
                </td>
                <td>
                    @if (item.StatusGuardian != "Zaakceptowane!" && item.StatusGuardian != "Odrzucone" && 
                        item.StatusOwner != "Odrzucone")
                    {
                        <a href='@Url.Action("EditAccept", new { id = item.ID })'>
                            <img src="~/Images/accept.jpg" width="45px" alt="Akceptuj" title="Akceptuj">
                        </a>
                    }
                    <a href='@Url.Action("EditDiscard", new { id = item.ID })'>
                        <img src="~/Images/discard.jpg" width="45px" alt="Odrzuć" title="Odrzuć">
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
