@model IEnumerable<PROJEKT_PZ_NK_v3.Models.Applications>

@{
    ViewBag.Title = "ApplicationsToMyOffers";
}

<div class="container">
    <h2 style="margin:4%">Zgłoszenia do moich ofert</h2>

    <table class="table table-striped">
        <tr>
            <th>
                Oferta
            </th>
            <th>
                Opiekun
            </th>
            <th>
                Zwierzak
            </th>
            <th>
                Wiadomość
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@Html.ActionLink(item.Offer.Title, "Details", "Offers", new { id = item.Offer.ID }, null)</b><br />
                    <ins>Początek</ins>: @Html.DisplayFor(modelItem => item.Offer.StartingDate)<br />
                    <ins>Koniec</ins>: @Html.DisplayFor(modelItem => item.Offer.EndDate)
                </td>
                <td>
                    <b>@Html.ActionLink(item.Guardian.Login, "DetailsAnotherProfile", "Profiles", new { email = item.Guardian.Email }, null)</b><br />
                    <ins>Imię i nazwisko</ins>: @Html.DisplayFor(modelItem => item.Guardian.FirstName) @Html.DisplayFor(modelItem => item.Guardian.LastName)<br />
                    <ins>Adres</ins>: @Html.DisplayFor(modelItem => item.Guardian.City), @Html.DisplayFor(modelItem => item.Guardian.Street) <br />
                    <ins>tel.</ins>: @Html.DisplayFor(modelItem => item.Guardian.PhoneNumber)
                </td>
                @*<td>
                    @Html.ActionLink(item.Offer.Animal.Name, "Details", "Animals", new { id = item.Offer.AnimalID }, null)<br />
                    <ins>Gatunek</ins>: @Html.DisplayFor(modelItem => item.Offer.Animal.Species)<br />
                    <ins>Rasa</ins>: @Html.DisplayFor(modelItem => item.Offer.Animal.Race)<br />
                    <ins>Waga</ins>: @Html.DisplayFor(modelItem => item.Offer.Animal.Weight)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @if (item.Status == "Zaakceptowane!")
                    {
                        <b style="color: limegreen">@Html.DisplayFor(modelItem => item.Status)</b>
                    }
                    else if (item.Status == "Opiekun zrezygnował z oferty")
                    {
                        <b style="color: darkred">@item.Status</b>
                    }
                    else if (item.Status.Contains("Usunieta"))
                    {
                        <b style="color: black">Odrzucone</b>
                    }
                    else
                    {
                        <b>@Html.DisplayFor(modelItem => item.Status)</b>
                    }
                </td>
                <td>
                    @if (item.Status != "Zaakceptowane!" && item.Status != "Opiekun zrezygnował z oferty")
                    {
                        <a href='@Url.Action("EditAccept", new { offerID = item.Offer.ID })'>
                            <img src="~/Images/accept.jpg" width="45px" alt="Akceptuj">
                        </a>
                    }
                    <a href='@Url.Action("EditDiscard", new { offerID = item.Offer.ID })'>
                        <img src="~/Images/discard.jpg" width="45px" alt="Odrzuć">
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
