@model IEnumerable<PROJEKT_PZ_NK_v3.Models.Applications>

@{
    ViewBag.Title = "MyApplications";
}
<div class="container">
    <h2 style="margin:4%">Moje zgłoszenia</h2>

    <table class="table table-striped">
        <tr>
            <th>
                Oferta
            </th>
            <th>
                Właściciel
            </th>
            <th>
                Zwierzak
            </th>
            <th>
                Wiadomość
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            <b>@Html.ActionLink(item.Offer.Title, "Details", "Offers", new { offerID = item.Offer.ID }, null)</b><br />
            <ins>Początek</ins>: @Html.DisplayFor(modelItem => item.Offer.StartingDate)<br />
            <ins>Koniec</ins>: @Html.DisplayFor(modelItem => item.Offer.EndDate)
        </td>
        <td>
            <b>@Html.ActionLink(item.Owner.Login, "DetailsAnotherProfile", "Profiles", new { email = item.Owner.Email }, null)</b><br />
            <ins>Imię i nazwisko</ins>: @Html.DisplayFor(modelItem => item.Owner.FirstName) @Html.DisplayFor(modelItem => item.Owner.LastName)<br />
            <ins>Adres</ins>: @Html.DisplayFor(modelItem => item.Owner.City), @Html.DisplayFor(modelItem => item.Owner.Street) <br />
            <ins>tel.</ins>: @Html.DisplayFor(modelItem => item.Owner.PhoneNumber)
        </td>
        @*<td>
            <b>@Html.ActionLink(item.Offer.Animal.Name, "Details", "Animals", new { id = item.Offer.AnimalID }, null)</b><br />
            <ins>Gatunek</ins>: @Html.DisplayFor(modelItem => item.Offer.Animal.Species)<br />
            <ins>Rasa</ins>: @Html.DisplayFor(modelItem => item.Offer.Animal.Race)<br />
            <ins>Waga</ins>: @Html.DisplayFor(modelItem => item.Offer.Animal.Weight)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @if (item.Status == "Zaakceptowane!")
            {
                <b style="color: limegreen">@Html.DisplayFor(modelItem => item.Status)</b>
            }
            else if (item.Status == "Właściciel odrzucił ofertę")
            {
                <b style="color: darkred">@item.Status</b>
            }
            else if (item.Status.Contains("Usunieta"))
            {
                <b style="color: black">Odrzucone</b>
            }
            else
            {
                <b>@Html.DisplayFor(modelItem => item.Status)</b>
            }

        </td>
        <td>
            @if (item.Offer.StartingDate > DateTime.Now)
            {
                <a href='@Url.Action("EditResign", new { offerID = item.Offer.ID })'>
                    <img src="~/Images/resign.png" width="70px" alt="Rezygnuj">
                </a>
            }
        </td>
    </tr>
        }

    </table>
</div>