@model IEnumerable<PROJEKT_PZ_NK_v3.Models.Applications>

@{
    ViewBag.Title = "MyApplications";
}
<div class="container">
    <h2 style="margin:4%">Moje zgłoszenia</h2>

    <table class="table table-striped">
        <tr>
            <th>
                Oferta
            </th>
            <th>
                Zwierzak
            </th>
            <th>
                Właściciel
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@Html.ActionLink(item.Offer.Title, "Details", "Offers", new { id = item.Offer.ID }, null)</b><br />
                    <b>@Html.DisplayFor(modelItem => item.Offer.StartingDate) - @Html.DisplayFor(modelItem => item.Offer.EndDate)</b>
                </td>
                <td>
                    @Html.ActionLink(item.Offer.Animal.Name, "Details", "Animals", new { id = item.Offer.AnimalID }, null)<br />
                    @Html.DisplayFor(modelItem => item.Offer.Animal.Species) - @Html.DisplayFor(modelItem => item.Offer.Animal.Race)
                </td>
                <td>
                    @Html.ActionLink(item.Owner.Login, "DetailsAnotherProfile", "Profiles", new { id = item.OwnerID }, null)<br />
                    @Html.DisplayFor(modelItem => item.Owner.FirstName) @Html.DisplayFor(modelItem => item.Owner.LastName)<br />
                    @Html.DisplayFor(modelItem => item.Owner.Address)<br />
                    @Html.DisplayFor(modelItem => item.Owner.PhoneNumber)
                </td>
                <td>
                    @if (item.Status == "Zaakceptowane!")
                    {
                        <b style="color: limegreen">@Html.DisplayFor(modelItem => item.Status)</b>
                    }
                    else
                    {
                        <p>@Html.DisplayFor(modelItem => item.Status)</p>
                    }

                </td>
                <td>
                    @if (item.Offer.StartingDate.Day > DateTime.Now.Day)
                    {
                        <a href='@Url.Action("Edit", new { id = item.ID })'>
                            <img src="~/Images/resign.png" width="70px" alt="Rezygnuj">
                        </a>
                    }
                </td>
            </tr>
        }

    </table>
</div>